#gallery-video {
	width: 100%;
	text-align: center;
}

#lightbox-video-background, #lightbox-video-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}

#lightbox-video-overlay {
	z-index: 10419;
}

#lightbox-video-background {
	background: #000000;
	opacity: 0.9;
	z-index: 410;
}

#lightbox-video-item {
	position: relative;
	background: #050505;
	width: 90vw;
	height: 90vh;
	top: 5vh;
	left: 5vw;
}

.lightbox-video-item {
	width: 100%;
	height: 100%;
	background-size: contain;
}

.gallery-video-item {
	display: inline-block;
	margin: 10px;
	width: 400px;
	height: 400px;
}

video {
	width: 100%;
	max-width: 90vw;
	max-height: 90vh;
	height: auto;
	cursor: pointer;
}

.gallery-video-item video {
	height: 100%;
}

#scroll-button {
	background: #003994;
	color: white;
	position: fixed;
	z-index: 360;
	font-size: 20px;
	padding: 20px;
	border-radius: 5px;
	cursor: pointer;
}

@media ( orientation: landscape ) {
	#scroll-button {
		right: 6vh;
		bottom: 6vh;
	}
}

@media ( orientation: portrait ) {
	#scroll-button {
		right: 6vw;
		bottom: 6vw;
	}
}